@{
    ViewBag.Title = "Home Page";
}


<div class="card text-center bg-light">
    <h1>Diario Web</h1>
</div>


<div class="container" style="margin: 20px 10px 20px 10px;">
    <div class="row">
        <div class="col-10">
            @for (int i = 0; i < 15; i++) {
                <div style="margin: 20px 0 20px 0;">
                    <h3>Un excelente titulo 18/02/21</h3>
                    <img src="https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png?w=640" class="img-fluid w-100" style="border: solid 1px black" />
                    <p style="margin: 3px 0 3px 0;">
                        Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.
                    </p>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <strong>Autor:</strong> Carlos Espinoza  |  <strong>Comentarios</strong>: 3
                            </p>
                        </div>

                    </div>
                </div>

            }
        </div>

        <div class="panel rounded col-2 bg-secondary text-white" style="margin-top: 30px; max-height: 300px;">
            <h3>Categorias</h3>
            <p>
                <ul>
                    <li>PHP</li>
                    <li>PHP</li>
                    <li>PHP</li>
                    <li>PHP</li>
                </ul>
            </p>

            <hr />

            <h3>Autores</h3>
            <p>
                <ul>
                    <li>Sebas</li>
                    <li>Carlos</li>
                </ul>
            </p>
        </div>
    </div>
</div>